extends layout
block content
    h1(align='center') Встречи
    table.table.table-bordered
        tr
            td Название
            td Дата
            td Место
            td Коментарий
        tr
            td
            td
            td
            td