extends layout
block content
    h1(align='center') Заметки
    table.table.table-bordered
        tr(align='center')
            td Название
            td Теги
            td Описание
        tr
            td
            td
            td
