@media screen and (min-width: 1366px) {
  .custom-class {
    width: 75%;
    /* either % (e.g. 60%) or px (400px) */
  }
}
/* USER PROFILE PAGE */
.card {
  margin-top: 20px;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: #ffffff;
}
.card.hovercard .card-background {
  height: 130px;
}
.card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}
.card.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}
.card.hovercard .card-info .card-title {
  padding: 0 5px;
  font-size: 20px;
  line-height: 1;
  color: #262626;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}
.btn-pref .btn {
  -webkit-border-radius: 0 !important;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.waiting {
  background-color: #EFD481 !important;
}
.in-work {
  background-color: #E2F7B9 !important;
}
.to-check {
  background-color: #B7F4D9 !important;
}
.closed {
  background-color: #DCEAF4 !important;
}
.taskCard {
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.75);
  padding: 15px;
  display: inline-block;
}
.taskCard h2 {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}
.taskCard h3 {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
.taskCard h4 {
  font-size: 14px;
  font-weight: bold;
}
.taskCard a {
  font-style: italic;
  color: #00b7ff !important;
}
.drop-hover {
  border: 2px dotted green;
}
.inline {
  display: inline-block !important;
  margin: 15px;
}
